<!DOCTYPE html>
<html>
<head>
  <title><%= mytitle %></title>
  <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
  <div class="sign-up-form">
    <h1>Sign up</h1>
    <form action="/signup" method="post">
      <label for="firstname">First Name:</label>
      <input id="firstname" type="text" class="input-box" name="firstname" placeholder="First name" required><br>
      
      <label for="lastname">Last Name:</label>
      <input id="lastname" type="text" class="input-box" name="lastname" placeholder="Last name" required><br>
      
      <label for="email">Email:</label>
      <input id="email" type="email" class="input-box" name="email" placeholder="Your email" required><br>
      
      <label for="password">Password:</label>
      <input id="password" type="password" class="input-box" name="password" placeholder="Your Password" required><br>
      
      <label for="birthdate">Birth Date:</label><br>
      
      <label for="day">Day:</label>
      <select id="day" name="day" class="input-box" required>
        <option value="">Day</option>
        <% for (var i = 1; i <= 31; i++) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
      
      <label for="month">Month:</label>
      <select id="month" name="month" class="input-box" required>
        <option value="">Month</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      
      <label for="year">Year:</label>
      <select id="year" name="year" class="input-box" required>
        <option value="">Year</option>
        <% var currentYear = new Date().getFullYear(); %>
        <% for (var i = currentYear; i >= 1900; i--) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
      <br>
      
      <div class="checkbox-container">
        <input type="checkbox" id="terms" name="terms" required>
        <label for="terms">I agree to the terms and conditions</label>
      </div>
      
      <button type="submit" class="signup-btn">Sign up</button>
    </form>
  </div>
  <script src="/js/signup.js"></script>
</body>
</html>
